.allform {
    margin-top: 30px;
}

.getin {
    text-align: center;
}

.callme {
    display: flex;
    justify-content: space-evenly;
}

.notes p {
    font-weight: bold;
    color: orange;
    font-size: 20px;
}
.input-Section{
    width: 300px;
    
}
.input-Section input {
    margin: 10px;
    padding: 20px;
    background-color: aqua;
    border: none;
    font-size: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;

}
.textA{
    margin: 10px;
    background-color: aqua;
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-btn button {
    padding: 15px;
    background-color: chocolate;
    color: white;
    border: none;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}