.All-items {
    /* width: 500px; */
    border: 2px solid purple;
    height: fit-content;
    padding-top: 20px;
    border-radius: 10px;
    margin: 40px auto auto auto;
    width: 500px;
    background: linear-gradient(skyblue, gray, rgb(180, 74, 180));
    text-align: center;
}

.input-text {
    padding: 15px 30px;
    margin-left: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(211, 200, 200);
}

.add-task {
    background-color: rgb(56, 56, 146);
    color: white;
    margin-left: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
}

ul {
    overflow-y: scroll;
    max-height: 150px;
    padding: 10px 40px 20px 80px;
    scrollbar-width: thin;
}

li {
    padding-top: 20px;
}
.trash {
    cursor: pointer;
    
}